---
title: Home
heading: 'Assemble!'
lead: Welcome to my blog!
---
<div class="">
  <h1>{{ heading }}</h1>
  <p>This is a Assemble Generator template . {{lead}}</p>
  <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
