<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--> <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]--> <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]--> <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">   
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{title}} | {{site.title}}</title>
<!-- build:css(dist) assets/css/vendor.css -->
<!-- bower:css -->

<!-- endbower -->
<!-- endbuild -->
<!-- build:js(dist) assets/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild --> 

<link rel="stylesheet" href="assets/css/main.css" />

  </head>
  <body>

    {{> navbar-fixed-top }}

    <div class="container theme-showcase" role="main">

      {{> body }}

    </div>

    <!-- build:js(dist) assets/js/vendor.js -->
    <!-- bower:js -->
   <script src="../bower_components/jquery/dist/jquery.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
     <script src="assets/js/app.js"></script>
  </body>
</html>
